.button {
    display:inline-block;
    padding:0.5em 0;
    font-size:inherit;
    border:0px;
    border-radius:3px;
    background-color:transparent;
    text-transform:uppercase;
    cursor:pointer;
    outline:0 !important;
}
.button--primary {
    padding:0.5em 0.75em;
    box-shadow:0 2px 8px 0 rgba(0,0,0,0.32);
}
.button--secondary {
    color:inherit;
}
.button--circle {
    padding:0.5em;
    border-radius:50%;
}
.button:hover {
    text-decoration:none;
}
