/* Current Sentence */
.current-sentence {
  position:relative;
  z-index:10;
  margin:0;
  padding:1.5rem 2rem 1.5rem 2rem;
  font-size:1rem;
  line-height:1rem;
  white-space:nowrap;
  overflow-x:scroll;
}

/* Editor */
.editor {
  position:fixed;
  left:25%;
  width:75%;
  height:100%;
  overflow:hidden;
}
.editor__no-selection {
  padding:2rem;
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}
.editor__no-selection .fa {
  margin-bottom:1rem;
}

/* Messages */
.messages {
  position:fixed;
  bottom:2rem;
  width:100%;
  padding:0;
  margin:0;
  text-align:center;
  pointer-events:none;
}
.message {
  display:block;
  width:33%;
  margin:auto;
  padding:0.75rem 1.5rem;
  background:rgba(0,0,0,0.6);
  color:white;
  border-radius:6px;
}
