.main {
  position:fixed;
  left:300px;
  width:calc(100% - 300px);
  height:100%;
  overflow-y:scroll;
}

/* Editor */
.editor {
  width:100%;
  height:100%;
}
.editor__default {
  padding:2rem;
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}
.editor__default .fa {
  margin-bottom:1rem;
}

/* Toolbar */
.editor__toolbar {
    position:absolute;
    bottom:1.25rem; right:1.5rem; left:1.5rem;
    text-align:right;
    pointer-events:none;
}
.editor__toolbar-left {
  float:left;
}
.editor__toolbar-right {
  float:right;
}
.editor__toolbar-button {
  box-shadow:0 1px 4px 0 rgba(0,0,0,0.16);
  pointer-events:all;
}
.editor__toolbar-button + .editor__toolbar-button {
  margin-left:0.5rem;
}
.editor__toolbar-button:hover {
  box-shadow:0 2px 8px 0 rgba(0,0,0,0.32);
}
.editor__zoom {
  position:absolute;
  top:-1.75rem; right:1.5rem;
  padding:0.125rem 0.25rem;
  border-radius:3px;
  box-shadow:0 1px 4px 0 rgba(0,0,0,0.16);
  pointer-events:none;
}
.editor__zoom--hide {
  opacity:0;
}
.editor__zoom--show {
  transform:translateY(-20%);
}
  /* View Mode Icon */
  .view-mode {
    position:relative;
    width:1.25em;
    height:1.125em;
  }
  .view-mode__icon {
    display:block;
    content:'';
    position:absolute;
    width:46%;
    height:20%;
    border-radius:1px;
  }
  .view-mode--arrows .view-mode__icon {
    top:40%;
    left:0;
  }
  .view-mode--arrows .view-mode__icon:first-child {
    top:40%;
    left:56%;
  }
  .view-mode--arrows .view-mode__icon:last-child {
    top:-10%;
    left:28%;
    opacity:0;
  }
  .view-mode--tree .view-mode__icon {
    top:60%;
    left:0;
  }
  .view-mode--tree .view-mode__icon:first-child {
    top:60%;
    left:56%;
  }
  .view-mode--tree .view-mode__icon:last-child {
    top:20%;
    left:28%;
  }

/* Messages */
.messages {
  position:absolute;
  bottom:2rem;
  width:100%;
  padding:0;
  margin:0;
  text-align:center;
  pointer-events:none;
}
.message {
  display:block;
  width:33%;
  margin:auto;
  padding:0.75rem 1.5rem;
  background:rgba(0,0,0,0.6);
  color:white;
  border-radius:6px;
}
