.main {
  position:fixed;
  left:300px;
  width:calc(100% - 300px);
  height:100%;
  overflow:hidden;
}

/* Editor */
.editor {

}
.editor__default {
  padding:2rem;
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}
.editor__default .fa {
  margin-bottom:1rem;
}

/* Messages */
.messages {
  position:absolute;
  bottom:2rem;
  width:100%;
  padding:0;
  margin:0;
  text-align:center;
  pointer-events:none;
}
.message {
  display:block;
  width:33%;
  margin:auto;
  padding:0.75rem 1.5rem;
  background:rgba(0,0,0,0.6);
  color:white;
  border-radius:6px;
}
