* {
  box-sizing:border-box;
}
body {
  margin: 0;
  padding: 0;
  /* system font stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**** Typography ****/
body {
  font-weight:normal;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top:0;
}
h1 {
  margin:0;
  font-size:2.25rem;
  font-weight:bold;
}
h2 {
  margin:2rem 0 0 0;
  font-weight:inherit;
  font-size:1.75rem;
}
h3 {
  margin:2rem 0 0.25rem 0;
  font-size:1.25rem;
  font-weight:bold;
}
h4 {
  margin:1.5rem 0 0.25rem 0;
  font-size:0.875rem;
  font-weight:bold;
  text-transform:uppercase;
}
h5 {
  margin:1rem 0 0.25rem 0;
  font-size:0.875rem;
  font-weight:bold;
}
p {
  margin:0 0 1em 0;
}
small {
  font-size:0.825rem;
}
/* Links */
a {
    text-decoration:none;
    cursor:pointer;
}

/**** Colour Scheme */
/* White */
.main,
.relation__grab,
.relation__label .is-focused .Select-input,
.relation__label .Select-value-label,
.sentence-editor__word,
.arc__relation-label,
.upload-treebank,
.view-mode__icon, .view-mode__icon:before, .view-mode__icon:after {
  background-color:white;
}
body,
.background-light .button,
.sidebar,
.tree__root,
.word .word__delete:hover,
.sentences__sentence.sentences__sentence--active,
.sentences__sentence:hover,
.breadcrumbs__breadcrumb,
.messages .message,
.messages .message,
.background-light .button--circle.button--secondary {
  color:white;
}
/* Light */
.sentence-editor,
.relation__label .Select-value-label:hover,
.relation__label .Select.is-open .Select-input,
.relation__label .Select-option.is-focused,
.relation__label .Select-option.is-selected,
.tree__root,
.editor__zoom {
  background-color:#F2F6FF;
}
/* Accent - yellow */
.background-dark .button--primary {
  color:#FFFF82;
}
/* Accent - blue */
.background-light .button--primary {
  background-color:#48BEFF;
}
a,
a:hover,
.background-dark .button:hover,
.background-light .button--secondary:not(.button--circle):hover {
  color:#48BEFF;
}
/* Dark */
body,
.sidebar,
.sidebar__footer {
  background-color:#13161F;
}
.main,
.upload-treebank,
.sentence-editor__word,
.tree__root {
  color:#13161F;
}
/* Dark Highlight */
.sentences__sentence:hover {
  background-color:#404655;
}
.treebank,
.header,
.sidebar__create-sentence,
.sidebar__header {
  border-color:#404655;
}
.treebank__buttons {
  background-color:#404655;
}
/* Less Dark */
.treebank,
.sidebar__footer,
.sidebar__header,
.login__form,
.header {
  background-color:#1D2333;
}
/* Grey */
.tree__root:after,
.word__delete,
.background-dark .messages .message,
.background-dark .messages .message,
.background-light .button--circle.button--secondary {
  background-color:#758AA8;
}
.editor__default,
.breadcrumbs__breadcrumb--current,
.sentences__sentence,
.background-light .create-word .create-word__button,
.tree__root,
.editor__toolbar,
.arc__relation-label
.editor__zoom,
.version,
.not-found__code,
.background-light .button--secondary,
.share__user-email,
.feedback {
  color:#758AA8;
}
/* Red */
.background-light .button--warning,
.word__delete:hover {
  background-color:#DF2935;
}

/**** Transitions ****/
.editor__zoom--hide,
.upload-treebank,
.background-light .button {
  transition:0.5s ease-out;
}
.word,
.button,
.editor__zoom--show,
.tree__magnifier,
.view-mode__icon {
  transition:0.2s ease-out;
}
a,
.word__inflection,
.relation__label .Select-value-label,
.relation__label .Select-option,
.sentences__sentence:hover,
.word__delete,
.sentence-editor__word,
.relation__grab,
.arc__relation-label,
.breadcrumbs__breadcrumb {
  transition: 0.15s ease-out;
}
.word__pos-tag {
  transition:opacity 0.15s ease-out;
}
