* {
  box-sizing:border-box;
}
body {
  margin: 0;
  padding: 0;
  /* system font stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**** Typography ****/
body {
  font-weight:normal;
}
h1 {
  margin:0;
  font-size:2rem;
  font-weight:bold;
}
h2 {
  font-weight:inherit;
  font-size:1.25rem;
}
h3 {
  margin:0;
  font-size:1rem;
  text-transform:uppercase;
  font-weight:bold;
}
p {
  margin:0 0 1em 0;
}
/* Links */
a {
    color:inherit;
    text-decoration:none;
}

/**** Colour Scheme */
/* White */
.editor,
.relation__grab,
.relation__label .is-focused .Select-input,
.relation__label .Select-value-label,
.upload-treebank {
  background-color:white;
}
body,
.button--warning,
.sidebar {
  color:white;
}
.button--primary {
  background-color:white;
}
/* Light */
.current-sentence,
.relation__label .Select-value-label:hover,
.relation__label .Select.is-open .Select-input,
.relation__label .Select-option.is-focused,
.relation__label .Select-option.is-selected {
  background-color:#F2F6FF;
}
/* Accent */
.button--primary:hover,
.upload-treebank:hover {
  background-color:#FFFF82;
}
.button--secondary:hover,
.sentences__sentence--active {
  color:#FFFF82;
}
/* Dark */
body,
.sidebar,
.sidebar__buttons {
  background-color:#13161F;
}
.editor,
.upload-treebank,
.button--primary {
  color:#13161F;
}
/* Dark Highlight */
.treebank,
.sentences__sentence:hover {
  background-color:#404655;
}
/* Grey */
.editor__no-selection {
  color:#738290 !important;
}
/* Red */
.button--warning {
  color:#DF2935;
}

/**** Transitions ****/
.word,
.button {
  transition:0.2s ease-out;
}
.word__inflection,
.relation__label .Select-value-label,
.relation__label .Select-option,
.sentences__sentence {
  transition: 0.15s ease-out;
}
.word__pos-tag {
  transition:opacity 0.15s ease-out;
}
