* {
  box-sizing:border-box;
}
body {
  margin: 0;
  padding: 0;
  /* system font stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**** Typography ****/
body {
  font-weight:normal;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top:0;
}
h1 {
  margin:0 0 1rem 0;
  font-size:2.25rem;
  font-weight:bold;
}
h2 {
  margin:2rem 0 0 0;
  font-weight:inherit;
  font-size:1.75rem;
}
h3 {
  margin:2rem 0 0.25rem 0;
  font-size:1.25rem;
  font-weight:bold;
}
h4 {
  margin:1.5rem 0 0.25rem 0;
  font-size:0.875rem;
  font-weight:bold;
  text-transform:uppercase;
}
h5 {
  margin:1rem 0 0.25rem 0;
  font-size:0.875rem;
  font-weight:bold;
}
p {
  margin:0 0 1em 0;
}
/* Links */
a {
    text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

/**** Colour Scheme */
/* White */
.main,
.relation__grab,
.relation__label .is-focused .Select-input,
.relation__label .Select-value-label,
.upload-treebank,
.sentence-editor__word {
  background-color:white;
}
body,
.button--warning,
.button--primary:hover,
.sidebar,
.tree__root,
.word .word__delete:hover,
.sentences__sentence.sentences__sentence--active,
.sentences__sentence:hover {
  color:white;
}
/* Light */
.sentence-editor,
.relation__label .Select-value-label:hover,
.relation__label .Select.is-open .Select-input,
.relation__label .Select-option.is-focused,
.relation__label .Select-option.is-selected,
.tree__root {
  background-color:#F2F6FF;
}
/* Accent - yellow */
.upload-treebank:hover {
  background-color:#FFFF82;
}
.button--secondary:hover,
.button--primary {
  color:#FFFF82;
}
/* Accent - blue */
a {
  color:#48BEFF;
}
/* Dark */
body,
.sidebar,
.sidebar__buttons {
  background-color:#13161F;
}
.main,
.upload-treebank,
.sentence-editor__word,
.sentence-editor .sentence-editor__button:hover,
.tree__root {
  color:#13161F;
}
/* Dark Highlight */
.treebank,
.sentences__sentence:hover {
  background-color:#404655;
}
.sidebar__create-sentence {
  border-color:#404655;
}
/* Less Dark */
.sidebar__buttons {
  background-color:#1D2333;
}
/* Grey */
.tree__root:after,
.word__delete {
  background-color:#758AA8;
}
.editor__default,
.breadcrumbs__breadcrumb--current,
.sentences__sentence,
.create-word__button,
.tree__root {
  color:#758AA8;
}
/* Red */
.button--warning {
  color:#DF2935;
}
.word__delete:hover {
  background-color:#DF2935;
}

/**** Transitions ****/
.word,
.button {
  transition:0.2s ease-out;
}
.word__inflection,
.relation__label .Select-value-label,
.relation__label .Select-option,
.sentences__sentence,
.word__delete {
  transition: 0.15s ease-out;
}
.word__pos-tag {
  transition:opacity 0.15s ease-out;
}
