.input__label,
.input__input {
  display:block;
}
.input__label {
  margin:1rem 0 0.25rem 0;
  font-size:1rem;
}
.input__input {
  margin:0 0 1rem 0;
  padding:0.5em;
  max-width:100%;
  border:0;
  border-radius:3px;
  font-size:1rem;
}
