/* Editor */
.editor .messages {
  position:absolute;
  bottom:2rem;
  width:100%;
  padding:0;
  margin:0;
  text-align:center;
  pointer-events:none;
}
.editor .message {
  display:block;
  width:33%;
  margin:auto;
  padding:0.75rem 1.5rem;
  background:rgba(0,0,0,0.6);
  color:white;
  border-radius:6px;
}

/* Login */
.login .messages {
  padding:0;
  margin:1rem 0 0.5rem 0;
  pointer-events:none;
}
.login .message {
  display:block;
  margin:0 0 0.5rem 0;
  padding:0.5rem 0.75rem;
  border-radius:3px;
}
