.background-light .messages .message {
  background:rgba(0,0,0,0.6);
}

/* Editor */
.editor .messages,
.settings .messages {
  position:absolute;
  right:0; bottom:2rem; left:0;
  width:100%;
  padding:0;
  margin:0;
  text-align:center;
  pointer-events:none;
}
.editor .message,
.settings .message {
  display:block;
  width:33%;
  margin:0.5rem auto 0 auto;
  padding:0.75rem 1.5rem;
  color:white;
  border-radius:6px;
}

/* Login, Home */
.login .messages,
.home .messages {
  padding:0;
  margin:0;
}
.login .message,
.home .message {
  display:block;
  margin:0 0 0.5rem 0;
  padding:0.5rem 0.75rem;
  border-radius:3px;
}
.login .message:first-child,
.home .message:first-child {
  margin-top:1rem;
}
.login .message:last-child,
.home .message:last-child {
  margin-bottom:1rem;
}
