.relation__label,
.relation__grab {
  position:absolute;
  transform:translate(-50%, -50%);
  transition:opacity 0.1s ease-out;
}
.relation--active .relation__grab,
.relation--active .relation__label {
    opacity:0;
}
.relation__label {
  width:8em;
  font-size:0.75rem;
}
.relation__label:focus-within { /* Unsupported by IE/Edge */
  z-index:100;
}
    /* Select */
    .relation__label * {
      cursor:default !important;
    }
    .relation__label .Select {
      outline:none !important;
    }

    .relation__label .Select-control {
      background-color:transparent !important;
    }
    .relation__label .Select-control {
      border:none;
      text-align:center;
      box-shadow:none !important;
    }
    .relation__label .Select-value {
      padding:0 !important;
      outline:none !important;
      box-shadow:none !important;
      cursor:text;
    }
    .relation__label .Select-value-label {
      padding:0.25em 0.5em;
      border-radius:2px;
      color:#78797B !important;
      cursor:text !important;
    }
    .relation__label .Select.is-open .Select-value-label {
      display:none;
    }
    .relation__label .Select-input {
      border-radius:2px;
      text-align:center;
    }
    .relation__label .Select-input input {
      cursor:text !important;
    }
    .relation__label .Select-arrow-zone,
    .relation__label .Select-clear-zone {
      display:none;
    }
    .relation__label .Select-menu {
      text-align:center;
    }
    .relation__label .Select-menu-outer {
      border:0;
      border-radius:4px;
      box-shadow:0 4px 20px 0 rgba(0,0,0,0.16);
      overflow:hidden;
    }
.relation__grab {
  width:1rem;
  height:1rem;
  margin:0;
  padding:0;
  border:2px solid #78797B;
  border-radius:50%;
  color:white;
  cursor:pointer;
}
.relation__grab:hover {
  background-color:#78797B;
}
