.sentence-editor {
  position:relative;
  z-index:10;
  padding:1.5rem 2rem 1.5rem 2rem;
  font-size:1rem;
  line-height:1rem;
  white-space:nowrap;
  overflow-x:scroll;
  box-shadow:0 1px 4px 0 rgba(0,0,0,0.16);
  user-select:none;
}
.sentence-editor * {
  vertical-align:top;
}
.sentence-editor__sentence {
  display:inline-block;
  margin:0;
  padding:0;
  vertical-align:top;
}
.sentence-editor__word {
  display:inline-block;
  height:1.625em;
  padding:0.25em 0.5em;
  margin-right:0.5em;
  border-bottom:0.125em solid transparent;
  border-radius:2px;
  box-shadow:0 1px 2px 0 rgba(0,0,0,0.16);
  cursor:move;
}
.sentence-editor__word.sentence-editor__word--highlight {
  background-color:rgba(0,0,0,0.1);
}

/* Create Word */
.create-word {
  display:inline-block;
}
.create-word .create-word__button,
.create-word .create-word__input {
  transition:0.2s ease-out;
}
.create-word .create-word__button {
  padding:0.375em 0 0.125em 0;
  transform:translateX(-6rem);
}
.create-word--expanded .create-word__button {
  transform:translateX(0.5rem) rotate(45deg);
}
.create-word .create-word__input {
  display:inline-block;
  margin:0;
  width:6em;
  height:1.625em;
  border-top:0; border-right:0; border-left:0;
  font-size:inherit;
  line-height:100%;
  cursor:text;
  transform:scaleX(0);
  transform-origin:top left;
}
.create-word .create-word__input:focus {
  outline:none;
  box-shadow:0px 2px 8px 0px rgba(0,0,0,0.16);
}
.create-word--expanded .create-word__input {
  transform:scaleX(1);
}

/* Colour Code */
.sentence-editor__word--adj {
  border-color:#E7DB2A;
}
.sentence-editor__word--adp {
  border-color:#549688;
}
.sentence-editor__word--cconj {
  border-color:#371C50;
}
.sentence-editor__word--adv {
  border-color:#D44320;
}
.sentence-editor__word--aux {
  border-color:#A8E1DD;
}
.sentence-editor__word--sym {
  border-color:#CF1E25;
}
.sentence-editor__word--intj {
  border-color:#78797B;
}
.sentence-editor__word--punct {
  border-color:#7A161A;
}
.sentence-editor__word--noun {
  border-color:#6FC847;
}
.sentence-editor__word--det {
  border-color:#E692B6;
}
.sentence-editor__word--propn {
  border-color:#4B66BA;
}
.sentence-editor__word--num {
  border-color:#EBC38A;
}
.sentence-editor__word--verb {
  border-color:#DAC4F7;
}
.sentence-editor__word--part {
  border-color:#5243A3;
}
.sentence-editor__word--pron {
  border-color:#DD991E;
}
.sentence-editor__word--sconj {
  border-color:#96187F;
}
