.tree {
  position:absolute;
  top:4.5rem; right:0; bottom:0; left:0;
  z-index:0;
  overflow:scroll;
}
.tree__magnifier {
    transform-origin:top left;
}
.lines,
.relations {
  position:absolute;
  top:4rem; right:2rem; bottom:2rem; left:2rem;
  overflow:visible;
}
.word:after {
  content: "";
  display: block;
  position:absolute;
  right:-2rem;
  width: 2rem;
  height: 1px;
}
.tree__root {
  position:absolute;
  transform:translate(-50%, -50%);
  margin-top:-1.75rem;
  padding:0.25rem 0.5rem;
  font-size:0.875rem;
  line-height:100%;
  border-radius:3px;
  box-shadow:0 1px 4px 0 rgba(0,0,0,0.16);
  text-align:center;
  cursor:default;
}
.tree__root:after {
  content:"";
  display:block;
  position:absolute;
  top:100%;
  left:calc(50% - 1px);
  width:2px;
  height:1.5rem;
  cursor:default;
}
.tree--with-relations .tree__root {
  cursor:pointer;
}
