.word {
  position: absolute;
  margin:4rem 2rem 2rem 2rem;
  padding:0.5rem;
  border-radius: 5px;
  text-align:center;
  color:white;
  background-color:#738290;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16);
  cursor:pointer;
}
.word--editable {
  z-index:100;
}
.word--relations-selected:hover {
  transform:scale(1.05);
}
  /* Inflection */
  .word__inflection {
    width:100%;
    height:2em;
    padding:0.5em 0.5em;
    border:none;
    border-radius:4px;
    text-align:center;
    font-size:inherit;
    font-weight:bold;
    background-color:transparent;
    color:white;
    opacity:0.9;
    cursor:pointer;
  }
  .word--editable .word__inflection {
    cursor:text;
  }
  .word--relations-selected .word__inflection {
    pointer-events:none;
  }
  .word:not(.word--editable):not(.word--relations-selected):hover .word__inflection,
  .word__inflection:hover,
  .word__inflection:focus {
      background-color:rgba(0,0,0,0.2);
  }
  .word__inflection:focus {
    outline:none;
  }
  .word--editable .word__inflection {
    cursor:text;
  }
  /* POS Tag */
  .word__pos-tag {
    position:absolute;
    bottom:0.25rem;
    right:0.33rem;
    font-size:0.5rem;
    opacity:0.7;
  }
  .word:not(.word--relations-selected):hover .word__pos-tag,
  .word--editable .word__pos-tag {
    opacity:0;
  }
  /* Data */
  .word-data {
    margin-top:1rem;
    text-align:left;
  }
  .word-data--hide {
    display:none;
  }
  .word-data--show {
    display:block;
  }
  .word-data__label {
    display:block;
    margin:0.75rem 0 0.25rem 0;
    font-size:0.75rem;
  }
  .word-data__label:first-of-type {
    margin-top:0;
  }
  .word-data__input {
    display:block;
    max-width:100%;
    padding:0.5em;
    border:0;
    border-radius:4px;
    background-color:rgba(0,0,0,0.2);
    color:white;
    font-size:1rem;
    outline:none;
  }
  /* Select */
  .word-data .Select {
    outline:none !important;
  }
  .word-data .Select-control {
    border:0px;
    background-color:rgba(0,0,0,0.2) !important;
  }
  .word-data .Select-value-label {
    color:white !important;
  }
  .word-data .Select-input input {
    color:white !important;
  }
  .word-data .Select-arrow {
    border-color:white transparent transparent !important;
  }
  .word-data .Select-arrow-zone:hover .Select-arrow {
    opacity:0.7;
  }
  .word-data .Select-menu-outer {
    border:0;
    border-radius:4px;
    box-shadow:0 4px 20px 0 rgba(0,0,0,0.16);
    overflow:hidden;
  }

/* Colour Code */
.word--adj {
  background-color:#E7DB2A;
}
.word--adp {
  background-color:#549688;
}
.word--cconj {
  background-color:#D9EB5D;
}
.word--adv {
  background-color:#D44320;
}
.word--aux {
  background-color:#A8E1DD;
}
.word--sym {
  background-color:#CF1E25;
}
.word--intj {
  background-color:#F1F375;
}
.word--punct {
  background-color:#7A161A;
}
.word--noun {
  background-color:#6FC847;
}
.word--det {
  background-color:#E692B6;
}
.word--propn {
  background-color:#4B66BA;
}
.word--num {
  background-color:#EBC38A;
}
.word--verb {
  background-color:#DAC4F7;
}
.word--part {
  background-color:#5243A3;
}
.word--pron {
  background-color:#DD991E;
}
.word--sconj {
  background-color:#96187F;
}
