* {
  box-sizing:border-box;
}
body {
  margin: 0;
  padding: 0;
  /* system font stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**** Typography ****/

/**** Links */
a {
    color:inherit;
    text-decoration:none;
}

.sidebar {
  position:absolute;
  top:0; left:0;
  width:25%;
  height:100%;
  padding:1em;
  overflow-y:scroll;
  background-color:#203744;
  color:white;
}
.sentences {
  padding:0;
}
.sentences__sentence {
  margin-bottom:0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity:0.6;
}
.sentences__sentence--active {
  opacity:1;
}
.editor {
  position:fixed;
  left:25%;
  width:75%;
  height:100%;
}
.editor__sentence {
  position:relative;
  z-index:1;
  margin:0;
  padding:1rem 2rem 1.25rem 2rem;
  line-height:1rem;
  white-space:nowrap;
  overflow-x:scroll;
  background-color:#E7ECEF;
}
.tree {
  position:absolute;
  top:4rem; right:0; bottom:0; left:0;
  z-index:0;
  overflow:scroll;
}
.tree__lines,
.tree__relations {
  position:absolute;
  top:2rem; right:2rem; bottom:2rem; left:2rem;
  overflow:visible;
}

/**** Words ****/
.word {
  position: absolute;
  margin:2rem;
  padding:0.66rem 0.33rem;
  border-radius: 5px;
  text-align:center;
  background-color:#E7ECEF;
  color:rgba(0,0,0,0.7);
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16);
}
.word--adj {
  background-color:#F7CAA7;
}
.word--adp {
  background-color:#ACECF7;
}
.word--punct {
  background-color:#D2D7DA;
}
.word--adv {
  background-color:
}
.word--aux {
  background-color:
}
.word--sym {
  background-color:
}
.word--intj {
  background-color:
}
.word--cconj {
  background-color:
}
.word--noun {
  background-color:#F4989C;
}
.word--det {
  background-color:#D6F6DD;
}
.word--propn {
  background-color:#F9C6C9;
}
.word--num {
  background-color:
}
.word--verb {
  background-color:#DAC4F7;
}
.word--part {
  background-color:
}
.word--pron {
  background-color:
}
.word--sconj {
  background-color:
}
  /* POS Tag */
  .word__pos-tag {
    position:absolute;
    bottom:0.125rem;
    right:0.25rem;
    font-size:0.5rem;
    opacity:0.4;
  }
  /* Edit */
  .word__edit {
    position:absolute;
    top:-0.5rem; left:-0.5rem;
    width:1.5rem;
    height:1.5rem;
    padding:0.5em;
    font-size:0.75rem;
    background-color:inherit;
    border-radius:50%;
    cursor:pointer;
    transform:scale(0);
    transition:0.1s ease-out;
  }
  .word:hover .word__edit {
    transform:scale(1);
  }

/**** Relations ****/
.relation {
  position:absolute;
  padding:0.125rem;
  font-size:0.75rem;
  line-height:1em;
  color:#D2D7DA;
  background-color:white;
  transform:translate(-50%, -50%);
}
